.contact-header {
    background-color: #392424;
    text-align: center;
    padding: 60px 20px;
  }
  
  .contact-container {
    padding: 60px 40px;
    max-width: 900px;
    margin: auto;
  }
  
  .contact-info {
    margin-bottom: 40px;
    color: white;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .contact-form button {
    width: 150px;
    padding: 10px;
    background-color: #7b2c2c;
    color: white;
    border: none;
    cursor: pointer;
  }
  